.container {
    max-width: 1267px;
    margin: 0 auto;
    padding: 120px 16px;
}

@media (max-width: 768px) {
    .container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 360px) {
    .container {
        padding-bottom: 40px;
    }
}